Pokedex - Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt

import seaborn as sns
import seaborn.objects as so

import plotly.express as px

# define dataset path
# dataset downloaded manually from https://pokemondb.net/pokedex/all
path = r"dataset\pokedex.json"
pokedex = pd.read_json(path)

#cek 5 data teratas
pokedex.head(10)

,#,name,type,total,hp,attack,defense,sp. atk,sp. def,speed
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0001,Bulbasaur,Grass Poison,318.0,45.0,49.0,49.0,65.0,65.0,45.0
4,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0002,Ivysaur,Grass Poison,405.0,60.0,62.0,63.0,80.0,80.0,60.0
8,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:

#cek 5 data terbawah
pokedex.tail(10)

,#,name,type,total,hp,attack,defense,sp. atk,sp. def,speed
9711,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9712,1024,Terapagos Terastal Form,Normal,600.0,95.0,95.0,110.0,105.0,110.0,85.0
9713,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9714,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9715,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9716,1024,Terapagos Stellar Form,Normal,700.0,160.0,105.0,110.0,130.0,110.0,85.0
9717,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9718,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9719,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9720,1025,Pecharunt,Poison Ghost,600.0,88.0,88.0,160.0,88.0,88.0,88.0

In [3]:
#cek sample 5 data
pokedex.sample(10)

,#,name,type,total,hp,attack,defense,sp. atk,sp. def,speed
4724,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7703,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,0058,Growlithe Hisuian Growlithe,Fire Rock,350.0,60.0,75.0,45.0,65.0,50.0,55.0
8821,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9129,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3508,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4059,0852,Clobbopus,Fighting,310.0,50.0,68.0,60.0,50.0,50.0,32.0
2703,0555,Darmanitan Galarian Standard Mode,Ice,480.0,105.0,140.0,55.0,30.0,55.0,95.0
3429,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6334,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:

#cek info kolom yang ada
pokedex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9721 entries, 0 to 9720
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   #        9721 non-null   object
 1   name     2430 non-null   object
 2   type     2430 non-null   object
 3   total    2430 non-null   float64
 4   hp       2430 non-null   float64
 5   attack   2430 non-null   float64
 6   defense  2430 non-null   float64
 7   sp. atk  2430 non-null   float64
 8   sp. def  2430 non-null   float64
 9   speed    2430 non-null   float64
dtypes: float64(7), object(3)
memory usage: 759.6+ KB

Karena datanya masih kotor, dimana terdapat index yang datanya berisi NaN, maka kita perlu takout dari dataset yang dimiliki

In [5]:
#drop row with blank "name"
pokedex = pokedex.dropna(subset='name').reset_index(drop=True)
pokedex

,#,name,type,total,hp,attack,defense,sp. atk,sp. def,speed
0,0001,Bulbasaur,Grass Poison,318.0,45.0,49.0,49.0,65.0,65.0,45.0
1,0002,Ivysaur,Grass Poison,405.0,60.0,62.0,63.0,80.0,80.0,60.0
2,0003,Venusaur,Grass Poison,525.0,80.0,82.0,83.0,100.0,100.0,80.0
3,0003,Venusaur Mega Venusaur,Grass Poison,625.0,80.0,100.0,123.0,122.0,120.0,80.0
4,0004,Charmander,Fire,309.0,39.0,52.0,43.0,60.0,50.0,65.0
...,...,...,...,...,...,...,...,...,...,...
2425,1023,Iron Crown,Steel Psychic,590.0,90.0,72.0,100.0,122.0,108.0,98.0
2426,1024,Terapagos Normal Form,Normal,450.0,90.0,65.0,85.0,65.0,85.0,60.0
2427,1024,Terapagos Terastal Form,Normal,600.0,95.0,95.0,110.0,105.0,110.0,85.0
2428,1024,Terapagos Stellar Form,Normal,700.0,160.0,105.0,110.0,130.0,110.0,85.0
2429,1025,Pecharunt,Poison Ghost,600.0,88.0,88.0,160.0,88.0,88.0,88.0

In [6]:
#because some pokemon is dual type, let's split into two column
pokedex[['type_1','type_2']] = pokedex['type'].str.split(expand=True)
pokedex = pokedex[['#', 'name', 'type_1','type_2','hp','attack','defense','sp. atk','sp. def', 'speed']]
pokedex.sample(10)

,#,name,type_1,type_2,hp,attack,defense,sp. atk,sp. def,speed
1728,0415,Combee,Bug,Flying,30.0,30.0,42.0,30.0,42.0,70.0
323,0257,Blaziken Mega Blaziken,Fire,Fighting,80.0,160.0,80.0,130.0,80.0,100.0
125,0093,Haunter,Ghost,Poison,45.0,50.0,45.0,115.0,55.0,95.0
710,0586,Sawsbuck,Normal,Grass,80.0,100.0,70.0,60.0,70.0,95.0
657,0543,Venipede,Bug,Poison,30.0,45.0,59.0,30.0,39.0,57.0
1526,0248,Tyranitar,Rock,Dark,100.0,134.0,110.0,95.0,100.0,61.0
432,0351,Castform Snowy Form,Ice,None,70.0,70.0,70.0,70.0,70.0,70.0
304,0241,Miltank,Normal,None,95.0,80.0,105.0,40.0,70.0,100.0
1596,0308,Medicham,Fighting,Psychic,60.0,60.0,75.0,60.0,75.0,80.0
665,0550,Basculin Red-Striped Form,Water,None,70.0,92.0,65.0,80.0,55.0,98.0

In [7]:
#rename some column
pokedex.rename(columns={'#': 'id', 'sp. atk': 'sp_atk', 'sp. def': 'sp_def'}, inplace=True)

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_26120\1050323741.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokedex.rename(columns={'#': 'id', 'sp. atk': 'sp_atk', 'sp. def': 'sp_def'}, inplace=True)

In [8]:
pokedex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2430 entries, 0 to 2429
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       2430 non-null   object
 1   name     2430 non-null   object
 2   type_1   2430 non-null   object
 3   type_2   1338 non-null   object
 4   hp       2430 non-null   float64
 5   attack   2430 non-null   float64
 6   defense  2430 non-null   float64
 7   sp_atk   2430 non-null   float64
 8   sp_def   2430 non-null   float64
 9   speed    2430 non-null   float64
dtypes: float64(6), object(4)
memory usage: 190.0+ KB

In [9]:
pokedex['id'] = pokedex['id'].astype("int64")

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_26120\2193232162.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokedex['id'] = pokedex['id'].astype("int64")

In [10]:
#check how many type available
pokedex.type_1.unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Dark', 'Poison',
       'Electric', 'Ground', 'Ice', 'Fairy', 'Steel', 'Fighting',
       'Psychic', 'Rock', 'Ghost', 'Dragon', 'Flying'], dtype=object)

In [11]:
#group type_1 and type_2
pokedex.groupby(['type_1','type_2']).id.unique()

type_1  type_2
Bug     Dark                               [920]
        Electric            [595, 596, 737, 738]
        Fairy                         [742, 743]
        Fighting            [214, 794, 795, 988]
        Fire                          [636, 637]
                                ...
Water   Ice                   [87, 91, 131, 883]
        Poison                     [72, 73, 211]
        Psychic     [79, 80, 121, 199, 779, 976]
        Rock           [222, 369, 564, 565, 834]
        Steel                              [395]
Name: id, Length: 203, dtype: object

In [12]:
#group type_1 and type_2
pokedex.groupby(['type_1','type_2']).id.count()

type_1  type_2
Bug     Dark         2
        Electric     8
        Fairy        4
        Fighting    10
        Fire         4
                    ..
Water   Ice          8
        Poison       6
        Psychic     14
        Rock        10
        Steel        2
Name: id, Length: 203, dtype: int64

In [13]:
#looks like there are some dupe in data, let's group by id and name
pokedex.groupby(['id','name']).id.count()

id    name
1     Bulbasaur                  2
2     Ivysaur                    2
3     Venusaur                   2
      Venusaur Mega Venusaur     2
4     Charmander                 2
                                ..
1023  Iron Crown                 2
1024  Terapagos Normal Form      2
      Terapagos Stellar Form     2
      Terapagos Terastal Form    2
1025  Pecharunt                  2
Name: id, Length: 1215, dtype: int64

In [14]:
pokedex[pokedex['id'] == 1024]

,id,name,type_1,type_2,hp,attack,defense,sp_atk,sp_def,speed
1211,1024,Terapagos Normal Form,Normal,None,90.0,65.0,85.0,65.0,85.0,60.0
1212,1024,Terapagos Terastal Form,Normal,None,95.0,95.0,110.0,105.0,110.0,85.0
1213,1024,Terapagos Stellar Form,Normal,None,160.0,105.0,110.0,130.0,110.0,85.0
2426,1024,Terapagos Normal Form,Normal,None,90.0,65.0,85.0,65.0,85.0,60.0
2427,1024,Terapagos Terastal Form,Normal,None,95.0,95.0,110.0,105.0,110.0,85.0
2428,1024,Terapagos Stellar Form,Normal,None,160.0,105.0,110.0,130.0,110.0,85.0

In [15]:
#looks like some value in "name" column is mixed between additional info and the real pokemon name, let's split those two value by creating new function
#since there are some Pokemon in the  Pokemon series that hase non-traditional Pokemon name, let's make the funtion skipped the value if it's included in the list of Paradox pokemon name

SKIPPED_POKEMON = [
    'Great Tusk',
    'Scream Tail',
    'Brute Bonnet',
    'Flutter Mane',
    'Slither Wing',
    'Sandy Shocks',
    'Roaring Moon',
    'Walking Wake',
    'Gouging Fire',
    'Raging Bolt',
    'Iron Treads',
    'Iron Bundle',
    'Iron Hands',
    'Iron Jugulis',
    'Iron Moth',
    'Iron Thorns',
    'Iron Valiant',
    'Iron Leaves',
    'Iron Boulder',
    'Iron Crown',
    'Type: Null',
    'Mr. Mime',
    'Mr. Rime',
    'Mime Jr.',
    'Tapu Koko',
    'Tapu Lele',
    'Tapu Bulu',
    'Tapu Fini'
]

def split_first_delimiter(value):
    # Check if the name is a Paradox Pokémon
    if value in SKIPPED_POKEMON:
        return pd.Series([value, ''])
    
    # Split only on the first space
    parts = value.split(' ', 1)
    
    # If there's only one part, return the original value and an empty string
    if len(parts) == 1:
        return pd.Series([parts[0], ''])
    
    # Otherwise, return the first part and the rest
    return pd.Series(parts)

In [16]:
#let's apply the function
pokedex[['base_name', 'additional_info']] = pokedex['name'].apply(split_first_delimiter)

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_26120\2999647661.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokedex[['base_name', 'additional_info']] = pokedex['name'].apply(split_first_delimiter)

In [17]:
#check the new column
pokedex[pokedex['id'] == 479]

,id,name,type_1,type_2,hp,attack,defense,sp_atk,sp_def,speed,base_name,additional_info
582,479,Rotom,Electric,Ghost,50.0,50.0,77.0,95.0,77.0,91.0,Rotom,
583,479,Rotom Heat Rotom,Electric,Fire,50.0,65.0,107.0,105.0,107.0,86.0,Rotom,Heat Rotom
584,479,Rotom Wash Rotom,Electric,Water,50.0,65.0,107.0,105.0,107.0,86.0,Rotom,Wash Rotom
585,479,Rotom Frost Rotom,Electric,Ice,50.0,65.0,107.0,105.0,107.0,86.0,Rotom,Frost Rotom
586,479,Rotom Fan Rotom,Electric,Flying,50.0,65.0,107.0,105.0,107.0,86.0,Rotom,Fan Rotom
587,479,Rotom Mow Rotom,Electric,Grass,50.0,65.0,107.0,105.0,107.0,86.0,Rotom,Mow Rotom
1797,479,Rotom,Electric,Ghost,50.0,50.0,77.0,95.0,77.0,91.0,Rotom,
1798,479,Rotom Heat Rotom,Electric,Fire,50.0,65.0,107.0,105.0,107.0,86.0,Rotom,Heat Rotom
1799,479,Rotom Wash Rotom,Electric,Water,50.0,65.0,107.0,105.0,107.0,86.0,Rotom,Wash Rotom
1800,479,Rotom Frost Rotom,Electric,Ice,50.0,65.0,107.0,105.0,107.0,86.0,Rotom,Frost Rotom
1801,479,Rotom Fan Rotom,Electric,Flying,50.0,65.0,107.0,105.0,107.0,86.0,Rotom,Fan Rotom
1802,479,Rotom Mow Rotom,Electric,Grass,50.0,65.0,107.0,105.0,107.0,86.0,Rotom,Mow Rotom

In [21]:
#wcheck data with newest column order
pokedex = pokedex[['id', 'base_name', 'additional_info', 'type_1','type_2','hp','attack','defense','sp_atk','sp_def', 'speed']]
pokedex.sample(10)

,id,base_name,additional_info,type_1,type_2,hp,attack,defense,sp_atk,sp_def,speed
1324,80,Slowbro,Galarian Slowbro,Poison,Psychic,95.0,100.0,95.0,100.0,70.0,30.0
2199,823,Corviknight,,Flying,Steel,98.0,87.0,105.0,53.0,85.0,67.0
2381,983,Kingambit,,Dark,Steel,100.0,135.0,120.0,60.0,85.0,50.0
739,615,Cryogonal,,Ice,None,80.0,50.0,50.0,95.0,135.0,105.0
1036,874,Stonjourner,,Rock,None,100.0,125.0,135.0,20.0,20.0,70.0
721,597,Ferroseed,,Grass,Steel,44.0,50.0,91.0,24.0,86.0,10.0
278,217,Ursaring,,Normal,None,90.0,130.0,75.0,75.0,75.0,55.0
255,199,Slowking,Galarian Slowking,Poison,Psychic,95.0,65.0,80.0,110.0,110.0,30.0
821,685,Slurpuff,,Fairy,None,82.0,80.0,86.0,85.0,75.0,72.0
263,207,Gligar,,Ground,Flying,65.0,75.0,105.0,35.0,65.0,85.0

In [22]:
#let's delete some duplicate
pokedex = pokedex.drop_duplicates()
pokedex[pokedex['id'] == 479]

,id,base_name,additional_info,type_1,type_2,hp,attack,defense,sp_atk,sp_def,speed
582,479,Rotom,,Electric,Ghost,50.0,50.0,77.0,95.0,77.0,91.0
583,479,Rotom,Heat Rotom,Electric,Fire,50.0,65.0,107.0,105.0,107.0,86.0
584,479,Rotom,Wash Rotom,Electric,Water,50.0,65.0,107.0,105.0,107.0,86.0
585,479,Rotom,Frost Rotom,Electric,Ice,50.0,65.0,107.0,105.0,107.0,86.0
586,479,Rotom,Fan Rotom,Electric,Flying,50.0,65.0,107.0,105.0,107.0,86.0
587,479,Rotom,Mow Rotom,Electric,Grass,50.0,65.0,107.0,105.0,107.0,86.0

In [23]:
pokedex.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1215 entries, 0 to 1214
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1215 non-null   int64
 1   base_name        1215 non-null   object
 2   additional_info  1215 non-null   object
 3   type_1           1215 non-null   object
 4   type_2           669 non-null    object
 5   hp               1215 non-null   float64
 6   attack           1215 non-null   float64
 7   defense          1215 non-null   float64
 8   sp_atk           1215 non-null   float64
 9   sp_def           1215 non-null   float64
 10  speed            1215 non-null   float64
dtypes: float64(6), int64(1), object(4)
memory usage: 113.9+ KB

In [24]:
#check count of pokemon per type_1
pokedex.type_1.value_counts()

Water       150
Normal      134
Grass       113
Bug          91
Psychic      82
Fire         76
Electric     74
Rock         68
Dark         56
Fighting     50
Poison       49
Dragon       49
Ghost        47
Ground       47
Steel        45
Ice          43
Fairy        31
Flying       10
Name: type_1, dtype: int64

In [ ]:
#visualizing type of pokemon count using plotly
fig =

In [ ]:
pokedex[pokedex["type_1"] == 'Normal'].sort_values(by = 'attack', ascending=False)

In [ ]:
type_1_count = sns.catplot(data=pokedex, y="type_1", kind="count")
plt.show

In [ ]:
#export to csv for further analysis
pokedex.to_csv('pokedex.csv', index=False)