# Pandas Basic #

In [7]:
#import library
import numpy as np
import pandas as pd

#checking version
pd.__version__

'1.5.2'

In [6]:
#checking pandas built-in documentation
pd?

Type:        module
String form: <module 'pandas' from 'c:\\Users\\M. Albar Ghiffar\\AppData\\Local\\Programs\\Python\\Python311\\Lib\\site-packages\\pandas\\__init__.py'>
File:        c:\users\m. albar ghiffar\appdata\local\programs\python\python311\lib\site-packages\pandas\__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [9]:
#creating dataframe (table from list of array)
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [11]:
#checking value of dataframe
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [13]:
#checking index
#index always start from 0
data.index

RangeIndex(start=0, stop=4, step=1)

Series as generalized NumPy array

In [14]:
#change index name
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [15]:
#accessing item based on index
data['b']

0.5

In [17]:
#use noncontiguous or nonsequential indices
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [18]:
#accessing item based on index
data[5]

0.5

Series as specialized dictionary

In [21]:
#create population dictionary
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [22]:
#accessing data in dictionary
population['California']

38332521

In [23]:
#slicing through dictionary
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Constructing Series objects

In [24]:
#data can be array
#example
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [25]:
#or scalar
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [26]:
#also can be dictionary
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [27]:
#index can be explicitly set if a different result is preferred
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

DataFrame as a generalized NumPy array

In [29]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [31]:
#construct a dataframe from two different dictionary
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [34]:
#the DataFrame has an index attribute that gives access to the index labels
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [36]:
#the DataFrame has a columns attribute, which is an Index object holding the column labels
states.columns

Index(['population', 'area'], dtype='object')

DataFrame as specialized dictionary

In [39]:
#accessing data from specific column
#accesing area
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [40]:
states['population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

Constructing Dataframe

In [41]:
#from a single series object
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [43]:
#from a list of dicts
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [44]:
#Even if some keys in the dictionary are missing, Pandas will fill them in with NaN (i.e., “not a number”)
pd.DataFrame([{'a': 1, 'b': 2}, 
              {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [45]:
#From a dictionary of Series objects
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [221]:
#From a two-dimensional NumPy array
pd.DataFrame(np.random.rand(6, 6),
             columns=['foo', 'bar','fii','biir','fuu', 'buur'])

        foo       bar       fii      biir       fuu      buur
0  0.688196  0.240430  0.247701  0.095398  0.176939  0.223152
1  0.408015  0.717392  0.194465  0.133264  0.860454  0.166777
2  0.260290  0.291433  0.083495  0.038315  0.765296  0.203120
3  0.465972  0.158235  0.770998  0.840443  0.933119  0.755827
4  0.518941  0.877975  0.887602  0.437729  0.498874  0.982118
5  0.189185  0.119252  0.022790  0.986141  0.638644  0.882716

In [224]:
#From a NumPy structured array
A = np.zeros(3, dtype=[('A', 'i8'), 
                       ('B', 'f8')])
A

pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [227]:
# Pandas index
# Index as immutable array
ind = pd.Index([2, 3, 5, 7, 11])
ind

ind[1]
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [228]:
#index attribute
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [229]:
#index are immutable, adn cannot modified by the normal means
ind[1] = 0 #will resulted in error

TypeError: Index does not support mutable operations

Index as ordered set

In [230]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

indA & indB # intersection

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_14752\3403888146.py:4: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  indA & indB # intersection

Int64Index([3, 5, 7], dtype='int64')

In [231]:
indA | indB # union

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_14752\4042773156.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  indA | indB # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [232]:
indA ^ indB # symmetric difference

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_14752\1357503912.py:1: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead.
  indA ^ indB # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

Data Selection in Series

Series as dictionary

In [233]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])

data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [234]:
data['b']

0.5

In [235]:
# We can also use dictionary-like Python expressions and methods to examine the keys/indices and values:
'a' in data

True

In [236]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [237]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [238]:
#assign item as new value
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

Series as one-dimensional array

In [239]:
# slicing by explicit index
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [241]:
# slicing by implicit integer index
data[0:2]

a    0.25
b    0.50
dtype: float64

In [242]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [243]:
# fancy indexing
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

Indexers: loc, iloc, and ix

In [244]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [245]:
# explicit index when indexing
data[1]

'a'

In [246]:
# implicit index when slicing
data[1:3]

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_14752\1915449024.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  data[1:3]

3    b
5    c
dtype: object